@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (max-width: 53.375em) {
      // 854px
      @content;
    }
  } @else if $breakpoint == mobile {
    @media only screen and (max-width: 25.875em) {
      // 414px
      @content;
    }
  }
}
