:root {
  // Primary color
  --color-blue: #057ada;
  --color-blue-dark: #023047;
  --color-blue-light: #6f7dfb;
  --color-blue-light-2: #26308c;
  --color-orange: #da722c;

  // Neutral colors
  --color-white: #fff;
  --color-white-light: #e8f7fb;
  --color-black: #070917;

  // Gradient
  --gradient-blue: linear-gradient(
    to bottom,
    var(--color-blue-light) 0%,
    var(--color-blue-light-2) 100%
  );

  // Font family
  --font-base: "Inter", sans-serif;
  --font-heading: "Montserrat", sans-serif;

  // Font-size
  --fs-sm: 0.875rem; //14px
  --fs-base: 1rem; //16px
  --fs-lg: 1.125rem; //18px
  --fs-xl: 1.5rem; //24px
  --fs-xl-plus: 2rem; // 32px
  --fs-xxl: 2.25rem; // 36px
  --fs-heading-base: 3.125rem; //50px
  --fs-heading-lg: 3.75rem; //60px

  // Spacing
  --space-xs: 0.25rem; //4px
  --space-sm: 0.5rem; //8px
  --space-sm-plus: 0.8rem; //13px
  --space-md: 1rem; //16px
  --space-md-plus: 1.125rem; //18px
  --space-md-xl: 1.25rem; //20px
  --space-md-xxl: 1.5rem; //24px
  --space-lg: 2rem; //32px
  --space-lg-minus: 1.875rem; // 30px
  --space-xl-minus: 2.8rem; // 45px
  --space-xl: 3rem; //48px
  --space-xl-plus: 3.5rem; // 56px
  --space-xl-big: 4.125rem;
  --section-space: 100px;

  // Radius
  --radius-base: 1.5rem; //24px

  // Breakpoints
  $bp-mobile: 25.875em; // 414px
  $bp-tablet: 53.375em; // 854px
  $bp-desktop: 85.375em; // 1366px
  $bp-hero-collapse: 75em; // 1200px
}
