@use "../abstract/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: var(--fs-base);
  line-height: 1.6;
}

.container {
  max-width: 75rem; //1200px
  margin: 0 auto;
  padding: 0 1.5rem;

  @include mixins.respond(tablet) {
    padding: 0 100px;
  }

  @media only screen and (max-width: 43em) {
    padding: 0 32px;
  }
}

a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  flex-shrink: 0;
}
