* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  // color: var(--color-white);
  color: var(--color-black);
  font-size: var(--fs-base);
  line-height: 1.6;
}

.btn {
  font-size: var(--fs-lg);
  outline: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.5s;
}
